/*nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1 {
	font-size: 500%;
	text-align: center;
	margin: 50px auto;
	line-height: 1em;
	margin-bottom: .25em;
	font-weight: bold;
}

#face-container {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  word-wrap: break-word;
}

#my-face {
  display: inline-block;
  width: 220px;
  height: 220px;
  padding: 20px;
  animation: bounceIn 2s .5s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#intro-text {
  display: inline-block;
  word-wrap: break-word;
  font-size: 20px;
}

#home {
  height: 750px;
  width: 75%;
  margin: auto;
  text-align: center;
}

#about {
  height: 300px;
  width: 75%;
  text-align: center;
  margin: auto;
}

#contact {
  height: 7500px;
  width: 75%;
  text-align: center;
  margin: auto;
}

.section-header {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  margin-bottom: 100px;
}

a {
  color: white;
}

/*#intro-container {
  width: 50%;
  margin: 0 auto;
}

#intro-text {
  font-size: 20px;
}
*/
nav {
  background-color: #FFF;
  border: 1px solid #B2B2B2;
  /*border-radius: 4px;*/
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  /*margin: 8px 22px 8px 22px;*/
  overflow: hidden;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; 
}

nav ul li a {
  color: rgb( 40, 44, 47 );
  font-size: 20px;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}